<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
          <h1>Part Details</h1>
      </div>
      <div class="col-sm-8">
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{part.url || '../../../assets/user.png'}}" alt="{{part.partName}}">
          <div class="card-body">
              <div>
                  <strong>Location:</strong>
                  <p>{{part.partUrl}}, {{part.sku}}</p>
                </div>
         <!--   <div>
              <strong>Age:</strong>
              <p>{{user.age}}</p>
            </div>
            <div>
              <strong>Last Active:</strong>
              <p>{{user.lastActive | timeAgo}}</p>
            </div>
            <div>
              <strong>Member Since:</strong>
              <p>{{user.created | date: 'mediumDate'}}</p>
            </div>-->
          </div>
          <div class="card-footer">
              <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Edit Profile">

              <form #editForm="ngForm" id="editForm" (ngSubmit)="updatePart()">
                  <h4>Part Name/Model</h4>
                  <textarea class="form-control" name="partName" rows="6" 
                    [(ngModel)]="part.partName"></textarea>

                  <h4>Part Description</h4>
                  <textarea class="form-control" name="partDescription" rows="6" 
                    [(ngModel)]="part.partDescription"></textarea>
                    <h4>Part URL</h4>
                    <input class="form-control" name="partUrl"  
                      [(ngModel)]="part.partUrl">
                      <h4>Part SKU</h4>
                      <input class="form-control" name="sku"  
                      [(ngModel)]="part.sku">   
              </form>

            </tab>
            <tab heading="Edit Photos">
              <app-photo-editor-part [photos]="part.photos" [part]=part
                (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor-part>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
